.navBar{
    background: linear-gradient(to bottom, #645f5f, #ada0a0);
    width: 100%;
    align-items: center;
    height: 90px;
    display: flex;
    justify-content: space-around;
    font-size:25px;
    
}

@media (max-width: 576px) {
    .navBar {
      width: 100vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background: linear-gradient(to bottom, #645f5f, #ada0a0) !important;  
      font-size: 14px;
    }
  }