.container {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    padding: 1em 0;
    border-bottom: .1em solid #ccc;
}

.container1 {
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 1000px;
    height: 600px;
    
    border-radius: 10px;

}

.image {
    width: 25em;
}